.allForms {
  padding: 0 20px;
}

.allForms-group {
  width: 100%;
  margin: 10px 0;
}

.allForms-group label {
  color: #ddd;
  font-size: 0.85rem;
}
.allForms-group input {
  color: #fff;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  transition: border-color 0.3s ease;
}
.allForms-group input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: #ff6600;
}

.allForms button {
  color: white;
  padding: 15px 30px;
  display: block;
  margin: 2rem auto 20px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #ff6600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.allForms button:hover {
  background-color: #ff6600cf;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.allForms button:disabled {
  color: rgb(185, 185, 185);
  background-color: #ff6600;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* ---------- Edit Vehicle Form ---------- */
.editVeh-form {
  /* padding: 1rem; */
  animation: modalFadeIn 0.4s ease-out forwards;
}

.section-1 {
  max-width: 300px;
}
.section-2 {
  display: flex;
  gap: 15px;
}

.section-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}

.section-4 {
  max-width: 300px;
  margin-bottom: 2rem;
}

/* ---------- Edit Account info Form (EAF) ---------- */
.EAF-section-1 {
  display: flex;
  gap: 15px;
  max-width: 550px;
}

.EAF-section-2 {
  max-width: 550px;
}

.EAF-section-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  max-width: 550px;
}

.EAF-section-4 {
  max-width: 550px;
}

.EAF-section-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 3fr);
  grid-column-gap: 15px;
  max-width: 550px;
}

/* .EAF-close-icon {
  problem: CSS is not being applied;
} */

/* ----- Remove Vehicle ----- */
.rmVeh-page {
  width: 50rem;
  height: 30rem;
  margin: 0 auto;
  /* padding: 1rem; */

  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  animation: modalFadeIn 0.4s ease-out forwards;
}

.rmVeh-sect-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #555;
  border-radius: 16px;
}

.rmVeh-carCard {
  display: flex;
  gap: 1rem;
  /* border: 1px solid rgb(255, 0, 242); */
}

.rmVeh-carCard-text {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid rgb(248, 219, 0); */
}

.rmVeh-sect-1 img {
  width: 180px;
  height: auto;
  /* border: 1px solid rgb(19, 2, 255); */
}

.rmVeh-page button {
  color: rgb(245, 245, 245);
  text-shadow: #f4f4f4;
  font-size: 16px;
  padding: 15px 30px;
  margin: 2rem auto;
  border: 1px solid #ff6600;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.032);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.rmVeh-page button:hover {
  background: #ff6600db;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.custom-checkbox {
  color: #ffffff;
  font-size: 18px;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.rmVeh-sect-1 input[type="checkbox"] {
  display: none;
}

.rmVeh-sect-1 .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ff6600cb;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}

.rmVeh-sect-1 input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid whitesmoke;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
