.vehiclePage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 900px; */
}

.vehNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80rem;
  /* max-width: 890px; */
}

.vehNav ul {
  display: flex;
  list-style: none;
}

.btn-link {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background 0.2s, color 0.2s;
  border-radius: 8px;
}

.btn-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* ---------- Bento Display ---------- */
.bento-container {
  width: 80rem;
  height: 40rem;
  border: 1px solid rgb(255, 0, 230);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  /* max-width: 900px; */
}

.bentoItem {
  /* 
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  backdrop-filter: blur(8px); */

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  color: #fff;
}

/* ---------- Vehicle Details ---------- */
.vehicleDetails {
  width: 80rem;
  height: 40rem;
  /* max-width: 900px; */
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.vd-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vd-1-general p {
  margin: 0.25rem 0;
}

.vd-1-general {
  display: flex;
  flex-direction: column;
}
.vd-section-1 img {
  width: 250px;
  height: auto;
  margin-right: 20rem;
}
.performance-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.performance-container h3 {
  text-decoration: underline 2px;
}
.performance-1,
.performance-2,
.performance-3 {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.vd-section-3 details {
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.vd-section-3 summary {
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.vd-section-3 summary:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

details[open] {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.engine-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.engine-details {
  flex: 1 1 250px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

/* ------ Maintenance Page ----- */
.maintenance {
  width: 80rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
}
.maint-section-1 {
  display: flex;
  justify-content: space-between;
}
.maint-section-2 {
  display: flex;
  justify-content: space-between;
}
.maint-2a {
  border: 1px solid rgb(35, 8, 241);
  padding: 1rem;
}
.maint-2b {
  border: 1px solid rgb(38, 13, 227);
  padding: 1rem;
}

.maint-section-3 {
  border: 1px solid pink;
  margin-top: 10rem;
}
