/*Shorthand order: top right bottom left*/

.vehiclePage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-width: 900px; */
}

.vehNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80rem;
  /* max-width: 890px; */
}

.vehNav h1 {
  color: whitesmoke;
  margin-right: 10px;
  letter-spacing: 1px;
  font-family: "Gruppo", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 35px;
}

.vehNav ul {
  display: flex;
  list-style: none;
}

.btn-link {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background 0.2s, color 0.2s;
  border-radius: 8px;
}

.btn-link:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 0.3s ease;
}

.active-link {
  color: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transform: translateY(-2px);
}

/* ---------- Vehicle Details ---------- */
.vehicleDetails {
  width: 80rem;
  height: 40rem;
  /* max-width: 900px; */
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: modalFadeIn 0.4s ease-out forwards;
}
.vd-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vd-1-general p {
  margin: 0.25rem 0;
}

.vd-1-general {
  display: flex;
  flex-direction: column;
}
.vd-section-1 img {
  width: 250px;
  height: auto;
  margin-right: 20rem;
}
.performance-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.performance-container h3 {
  text-decoration: underline 2px;
}
.performance-1,
.performance-2,
.performance-3 {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.vd-section-3 details {
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.vd-section-3 summary {
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.vd-section-3 summary:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

details[open] {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.engine-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.engine-details {
  flex: 1 1 250px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

/*  Modals  */
.garage-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(65, 65, 65, 0.847);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: garageModalOverlayFadeIn 0.3s ease-out;
}

.garage-modal {
  background: #18181829;
  border-radius: 25px;
  animation: garageModalFadeIn 0.3s ease-out;
  position: relative;
}

.garage-modal h1 {
  color: whitesmoke;
  letter-spacing: 1.5px;
  font-family: "Gruppo", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 20px;
}
.garage-closeModal-btn {
  position: relative;
  top: -15rem;
  right: -1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #3d3d3d;
}

/* ----- Settings Page ----- */
.vehSettings {
  width: 80rem;
  height: 40rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: modalFadeIn 0.4s ease-out forwards;
  /* border: 1px solid rgb(238, 255, 0); */
}

/* .settings-header {
 border: 1px solid rgb(0, 255, 47); 
} */

.settings-icon {
  width: 700px;
  height: auto;
  opacity: 30%;
  transform: translateX(30rem);
}
.settings-body {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-sect-1 {
  width: 20rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-sect-2 {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-links {
  color: whitesmoke;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin: 1rem 3rem;
  font-family: "Gruppo", sans-serif;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.settings-links:hover {
  color: #ff6600;
}
.settings-floating-divider {
  width: 0.1rem;
  height: 95%;
  margin: 0;
  background-color: #ff6600;
  align-self: center;
}

/* ----- Under Construction ----- */
.underCon {
  margin: 0 auto;
}
