html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #181818;
}
.landing-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landingPage {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.text-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;

  animation-name: textFadeIn;
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
}

.text-content h1 {
  background: linear-gradient(to top, #ff6600, #fab181);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Gruppo", sans-serif;
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 13px;
}

.text-content p {
  color: whitesmoke;
  letter-spacing: 1.5px;
  font-family: "Gruppo", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
}
.link-button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  color: #ffa568;
  font-family: "Gruppo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

/* Image animation container */
/* animation syntax: keyFrameName duration timing-function delay iteration-count direction fill-mode play-state; */
.animation img {
  width: 80vw;
  height: auto;
  opacity: 90%;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  animation: riseUp 1.5s ease-out forwards;
  z-index: 1;
}

/* riseUp animation */
@keyframes riseUp {
  to {
    bottom: -35%;
  }
}

/* textFadeIn animation */
@keyframes textFadeIn {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

/*  Login  */
.login-modal {
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.login-form-field label {
  font-size: 1rem;
}
.login-form-field input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  width: 100%;
}
.login-btn {
  color: white;
  background-color: #8e2de2;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  align-self: center;
}
.login-btn button:hover {
  background-color: #4a00e0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*  Modals  */
/* Overlay/Scrim */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content wrapper */
.model-content {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Close modal button */
.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

/*  Register  */
.page {
  color: #ffffff;
  background-color: #111;
  box-shadow: 0 15px 35px #8d2de274;
  width: 30rem;
  height: auto;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page h1 {
  text-align: center;
  margin: 0;
}
.page button {
  color: rgb(255, 255, 255);
  background-color: #8e2de2;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.page button:hover {
  background-color: #4a00e0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.page button:disabled {
  color: rgb(185, 185, 185);
  background-color: #8e2de2;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

form {
  width: 100%;
}
.form-group {
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
  }
}

.register-modal {
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
