#root {
  height: 100vh;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main {
  width: 100%;
  height: 92%;
  margin: 0 auto;
  align-content: center;
}
nav {
  height: 5rem;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: right;
}
nav ul {
  margin: 30px;
  text-align: right;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 8px;
}
nav button {
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #181818;
  border-radius: 20px;
}

/*  Login  */
.content-container {
  color: rgb(255, 255, 255);
  background-color: rgba(24, 24, 24, 0.8);
  width: 50rem;
  height: auto;
  padding: 2rem;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: rgba(24, 24, 24, 0.8);
  max-width: 400px;
}
.content-container h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.login-form-content {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.login-form-content input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}
.login-formBtn {
  color: white;
  background-color: #8e2de2;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.login-formBtn:hover {
  background-color: #4a00e0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Background */
.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.25vw, 1fr));
  width: 100vw;
  height: 100vh;
}
.square {
  background: #181818;
  border: 1px solid black;
  aspect-ratio: 1/1;
  transition: background-color 1.5s;
}
.square:hover {
  background-color: #8e2de2;
  transition: 0s;
}
