body {
  width: 100%;
  height: 100vh;
  margin: 0;
}
#root {
  height: 99vh;
}
nav {
  height: 8%;
}
main {
  width: 100%;
  height: 92%;
  margin: 0 auto;
  background-image: url(https://wallpaperaccess.com/full/3933109.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  align-content: center;
}
.page {
  background-color: rgba(52, 52, 52, 0.65);
  height: 60%;
  width: 60%;
  max-width: 650px;
  margin: 0 auto;
  border: 1.25px solid white;
  border-radius: 4%;
  color: rgb(255, 235, 217);
  text-shadow: 1px 1px 1px black;
  h1 {
    text-align: center;
  }
}
nav {
  background: linear-gradient(90deg, rgb(72, 72, 193), rgb(128, 47, 128));
  ul {
    margin: 0;
    text-align: right;
    list-style: none;
    li {
      display: inline-block;
      margin: 8px;
      button {
        padding: 10px;
        background-color: rgba(81, 102, 102, 0.314);
        border-radius: 12%;
        color: snow;
      }
    }
  }
}
form {
  margin: 0 auto;
  width: 60%;
  div {
    margin: 0 auto;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  input {
    padding: 5px 0px;
  }
}
.formBtn {
  padding: 6px 20px;
  margin: 12px 35%;
  width: 30%;
}
