@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap");
/* Font Shorthand */
/*   font: style variant weight size/height family
       ex:  font: italic small-caps bold 12px/30px Georgia, serif; */

/* "a" applies to navlinks */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  ----------  Empty Garage  ----------  */

.emptyGarage-container {
  color: whitesmoke;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* border: rgb(255, 0, 230) solid 2px; */
}
.emptyGarage-container img {
  width: 250px;
  height: 250px;
}

.emptyGarage-container a {
  color: whitesmoke;
  margin: 1.5rem 1rem;
  padding: 12px 16px;
}

.emptyGarage-container a:hover {
  background-color: #fefefe1d;
  border-radius: 16px;
}

/* .emptyGarage-container a:active {
  box-shadow: 2px 2px 5px whitesmoke;
} */

/*  ----------  All Vehicles Page  ----------  */
.card-list {
  width: auto;
  max-width: 55vw;
  height: auto;
  display: flex;
  gap: 3rem;
}

.card {
  color: whitesmoke;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 16px;
  border: 1px solid transparent;
  /* background: rgba(255, 255, 255, 0.085); */
  background-color: #6060605a;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.103),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.25s ease;

  display: flex;
  flex-direction: column;
  position: relative;
  animation: modalFadeIn 0.4s ease-out forwards;
}
.card:hover {
  color: rgb(255, 255, 255);
  border: 1px solid #ff6600;
  box-shadow: 0 1px 3px #ff6600;
  cursor: pointer;
  transform: translateY(-2px);
}

img {
  max-width: 100%;
  display: block;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header a {
  color: inherit;
  letter-spacing: 1.5px;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
}
.card-header a:hover {
  color: #ff6600;
}

.card-header p {
  color: #8c8c8c;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.25;
}

.icon-button {
  border: 0;
  background-color: whitesmoke;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 25px;
  font-weight: 100;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;

  &:hover {
    background-color: #ff6600;
    color: #fff;
  }
}

.card-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  letter-spacing: 0.9px;
  font-family: "Gruppo", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.allVehicles-sect-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addVehcile-btn {
  color: rgba(245, 245, 245, 0.785);
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px 0px 0px 5px;
  border: none;
  border-radius: 25%;
  background-color: transparent;
}
.addVehcile-btn:hover {
  color: #ff6600;
  background-color: #f8fcf32f;
  border-radius: 25%;
  background-color: #f8fcf32f;
  border-radius: 25%;
  transition: 0.2s ease;
  cursor: pointer;
}

/* ---------- Account Page ---------- */
.acctPage {
  width: 30rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.acctPage-section-1 {
  flex: 2;
  padding: 1rem;
}

.acctPage-1a {
  margin-bottom: 1.5rem;
}

.acctPage-1a h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.acctPage-1b p {
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 0.5rem;
}

.acctPage-section-2 {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.update-btn,
.delete-btn,
.password-btn {
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.update-btn:hover {
  color: #ffffff;
  background: rgba(238, 238, 238, 0.1);
  box-shadow: 0 5px 12px #fefefe;
  cursor: pointer;
}

.update-btn:disabled {
  color: #aaa;
  background: rgba(255, 255, 255, 0.05);
}

.delete-btn:hover {
  color: #ff4e4e;
  background: rgba(255, 78, 78, 0.1);
  box-shadow: 0 6px 14px rgba(255, 78, 78, 0.3);
  cursor: pointer;
}

.password-btn:hover {
  color: #91b3ff;
  background: rgba(145, 179, 255, 0.1);
  box-shadow: 0 6px 14px rgba(145, 179, 255, 0.3);
  cursor: pointer;
}

/* ----- FAQ ----- */
.faq {
  max-width: 750px;
  padding: 1rem;
  border-radius: 8px;
}

.faq-item {
  margin: 20px;
}

.faq-item h3 {
  color: #ff9045;
  margin-bottom: 8px;
}

.faq-item p {
  line-height: 1.6;
}
