/* index.css is for styles applied throughout the WHOLE site */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  background-size: cover;
  background-image: url(src/public/grey.jpg);
}

/*  ----------  Content Container  ----------  */

.glassmorphism-container {
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  animation: modalFadeIn 0.4s ease-out forwards;
  /* max-width: 900px; */
}

.content-container h1 {
  color: whitesmoke;
  padding: 1rem;
  letter-spacing: 1px;
  font-family: "Gruppo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalOverlayFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* landing page car riseUp animation */
@keyframes riseUp {
  to {
    bottom: -35%;
  }
}

/* textFadeIn animation */
@keyframes textFadeIn {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

@keyframes garageModalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes garageModalOverlayFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
