html {
  background-color: #000000;
}

.landingPage {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.text-content {
  color: white;
  border: 3px solid red;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.animation img {
  border: 3px solid red;
  width: 80vw;
  height: auto;
  margin: 0;
  position: relative;
  animation: riseUp 1.5s ease-out forwards;
}

@keyframes riseUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(20%);
  }
}
